body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
}

form {
    border: 1px solid #333; 
    padding: 20px;
    box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.1); 
    background: #222;
    border-radius: 5px;
    color: #fff; 
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #555;
    background: #333; 
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    color: #fff; 
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: #bbb;
}

button[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.branding img {
    width: 600px;
    height: 400px; /* This effectively sets the "viewport" for the image */
    object-fit: cover; /* This will cover the area with the image, effectively cropping it */
    object-position: center; /* Adjust this if you want to shift the focus area of the image */
    margin-bottom: 10px; /* Space between the logo and the form */
}

.login-2fa img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 10px;
}

.branding {
    text-align: center;
    margin-bottom: 30px; 
}

.signup {
    color: #45a049;
}

h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #45a049;
  }

.actions button, .actions a button {
    padding: 10px;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    display: inline-block;
}

.actions-new {
    display: flex;
    justify-content: flex-start; /* Align items to the start */
    width: 100%;
}

.left-buttons, .right-buttons {
    display: flex;
    margin: 5px;
    border: 8px;
}

.button-spacing {
    margin-right: 6px; /* Adjust the value as needed for your design */
}

.right-buttons {
    margin-left: auto; /* Automatically pushes the right-buttons to the end */
}

.actions button:hover, .actions a button:hover {
    background-color: #45a049;
}

/* Mobile-first styles */
@media (max-width: 768px) {
    .right-buttons {
    	display: none !important;
    }
}

button {
    padding: 5px 10px;
    margin: 2px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.header {
    background-color: #121212;
    position: fixed;
    top: 30px;
    right: 10px;
    z-index: 1000;
    text-align: right;
    border-radius: 6px;
}

.header form {
    border: none; /* Keep the form without a border */
    box-shadow: none; /* Remove the box-shadow */
    background: #121212; /* Blend it in */
    padding: 0px; /* Minimal padding around the button for a tighter look, adjust as needed */
    display: flex; /* Ensure the form does not take full width */
    border-radius: 4px;
}

.header button {
    padding: 6px 15px;
    margin-left: 0;
}


.header button:hover {
    background-color: #45a049;
}

/* Style for the checkbox column */
th.checkbox-header, td.checkbox-cell {
    width: 1%; /* Minimize the width of the checkbox column */
    white-space: nowrap; /* Prevent wrapping of content in this column */
}

/* Style for checkboxes */
input[type='checkbox'] {
    margin-right: 10px; /* Add some margin if needed */
}

.delete-selected {
    margin-top: 10px; /* Add some space between the table and the button */
    text-align: right; /* Align the button to the right */
}

.delete-selected button {
    padding: 5px 10px;
    background-color: #730308;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.delete-selected button:hover {
    background-color: #d32f2f; /* Darker shade on hover */
}

#notes {
    width: 97%; 
    height: 150px; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
}

.form-group {
    margin-bottom: 15px; 
}

.form-group label {
    display: block; /* This makes the label take the full width and ensures the textarea starts on a new line */
    margin-bottom: 5px; /* Spacing between the label and the textarea */
}

.toast {
    display: none;
    position: fixed;
    top: 20px;
    right: 45%;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}
.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #959711;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
    background-color: #e0e0e0;
}

/* Mobile-first styles */
.container-table {
    width: 100%;
    max-width: 95%;
    max-height: 90vh;
}

/* Desktop and larger devices */
@media (min-width: 992px) {
    .container-table {
        max-width: 85%;
        max-height: 90vh;
    }
}

/* Desktop-first login styles */
.container-login {
    text-align: center;
}

/* Mobile devices login styles */
@media (max-width: 992px) {
    .container-login, container-2fa {
        width: 100%;
        max-width: 100%;
        max-height: 90vh;
        text-align: center;
    }
}

/* Table header colour */
th {
    background-color: #2c6430;
    color: white;
}

/* Adjusting the scrolling body and table to dark theme */
div.dts div.dt-scroll-body table,
div.dts div.dataTables_scrollBody table {
  background-color: #121212;
  color: #ffffff;
  z-index: 2;
}

/* Ensure table headers match the dark theme and darker green*/
div.dts div.dt-scroll-body table th,
div.dts div.dataTables_scrollBody table th {
        background-color: #2c6430;
        color: white;
}

/* Adjust table cell borders to fit the dark theme */
div.dts div.dt-scroll-body table td,
div.dts div.dataTables_scrollBody table td {
  border: 1px solid #333;
  color: #fff;
}

/* Enhance row hover effect to fit the dark theme */
div.dts div.dt-scroll-body table tr:hover,
div.dts div.dataTables_scrollBody table tr:hover {
  background-color: #333;
}

/* Style for alternating row colors for better readability in dark theme */
div.dts div.dt-scroll-body table tr:nth-child(odd),
div.dts div.dataTables_scrollBody table tr:nth-child(odd) {
  background-color: #181818;
}

div.dts div.dt-scroll-body table tr:nth-child(even),
div.dts div.dataTables_scrollBody table tr:nth-child(even) {
  background-color: #121212;
}

.csv-file {
    display: none;
}

.center-text {
    text-align: center;
}

.button-link {
    display: inline-block; /* Allows applying padding and makes the element block-like */
    padding: 10px 20px; /* Adds space inside the link, similar to a button */
    background-color: #4CAF50; /* Button color */
    color: white; /* Text color */
    text-align: center; /* Centers the text */
    text-decoration: none; /* Removes the underline from links */
    border-radius: 5px; /* Rounds the corners */
    border: none; /* Removes the border */
    cursor: pointer; /* Changes the cursor to the pointer hand */
}

.container {
    text-align: center;
}

.alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    text-align: center;
    padding: 10px 0;
    background-color: rgba(0,0,0,0.5);
    display: inline-block;
    margin: 0 auto;
    padding: 5px 10px;
    color: #fff;
}

.alert-error {
    color: rgb(180, 11, 11);
}

.alert-ok {
    color: aquamarine;
}
/* Toast Container */
#toast-container {
    position: fixed;
    text-align: center;
    top: 30px;
    z-index: 999999;
}

/* Toast Message */
.toast-message {
    display: block;
    padding: 10px 15px;
    margin-bottom: 5px;
    background-color: #333;
    color: aquamarine;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

div.dts div.dt-scroll-body table, div.dts div.dataTables_scrollBody table {
  background-color: #0e1d04 !important;
  z-index: 2;
}

.dt-row-hover


.delete-btn {
    padding: 5px 10px !important;
    border: none !important; /* Remove border */
    margin: 0 !important; /* Adjust margin as needed */
    width: auto !important; /* Adjust as needed, or set to 'auto' */
    height: auto !important; /* Adjust as needed, or set to 'auto' */
    font-size: 0.8rem !important;
    box-sizing: border-box !important;
    display: inline-block !important;
}

.del-form {
    display: inline-block !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}

table.dataTable tbody tr:hover {
    /* background-color: #411245 !important; */
    background-color: #730308 !important;
}

.container-2fa {
  border: 1px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
  color: green;
  text-align: left;
}
.login-2fa {
  display: inline-block;
  padding: 4rem 4rem;
  vertical-align: middle;
  color: green;
  max-width: 400px;
}

code {
    font-size: 16px;
    color: red;
}

.link-2fa {
    color: red;
}

@media (max-width: 768px) {
    body {
        display: flex; /* Flex layout for vertical centering */
        flex-direction: column; /* Stack elements vertically */
        align-items: center; /* Center-align the children horizontally */
        padding: 20px; /* Add some padding around the body */
        height: auto; /* Adjust height to be auto */
        min-height: 100vh; /* Ensure it fills at least the full height of the viewport */
        justify-content: center; /* Center content vertically */
    }

    .container-2fa, .container, .container-login, .backup-form, .csv-form {
        width: 90%; /* Allow the container to fill the width */
        max-width: 400px; /* Max width for better control */
        display: flex; /* Establish this container as a flex container */
        flex-direction: column; /* Align children in a column */
        align-items: center; /* Center-align the children */
    }

    .branding img {
        margin-bottom: 15px; /* Adjust spacing for mobile */
    }

    form {
        width: 90%; /* Make sure the form takes the full width of its container */
        padding: 15px; /* Reduce padding for the form on smaller screens */
        align-items: center; /* Center-align the children */
    }

    .button-link {
        margin-bottom: 5px; /* Add bottom margin in mobile view */
    }
    .login-2fa {
        color: green;
        text-align: left;
        margin: 1rem;
        padding: 0rem 0rem;
    }
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control::before, table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control::before {
    margin-right: .5em;
    display: inline-block;
    box-sizing: border-box;
    content: "";
    border-top: 5px solid black !important;
    border-left: 10px solid white !important;
    border-bottom: 5px solid black !important;
    border-right: 0px solid white !important;
    margin-right: 1em !important;
}

/* styles.css */
.hidden {
    display: none;
}
