<!DOCTYPE html>
<html>
<head>
    <title>Jonny's Den - Add Password</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Add a New Password</h1>
        <form action="/add_password" method="post">
            <input type="text" name="name" placeholder="Name" required>
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Save</button>
        </form>
    </div>
</body>
</html>
