<!DOCTYPE html>
<html>
<head>
    <title>Jonny's Den - Edit Password</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
    {% include 'header.html' %}
    <div class="container">
        <h1>Edit Password</h1>
        <form action="" method="post"> <!-- The action is empty because the form submits to the same URL -->
            <input type="text" name="name" placeholder="Name" value="{{ password_data[1] }}" required>
            <input type="text" name="username" placeholder="Username" value="{{ password_data[2] }}" required>
            <input type="password" name="password" placeholder="Password (enter new or keep existing)" required>
            <button type="submit">Update</button>
        </form>
    </div>
</body>
</html>
