<!DOCTYPE html>
<html>
<head>
    <title>Jonny's Den - Passwords</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
    {% include 'header.html' %}
    <div class="container">
        <h1>Passwords</h1>
        <div class="actions">
            <a href="{{ url_for('add_password') }}"><button>Add New Password</button></a>
        </div>
        <div class="search-box">
            <form action="{{ url_for('retrieve_passwords') }}" method="get">
                <input type="text" name="search" placeholder="Search by name..." value="{{ request.args.get('search', '') }}">
                <button type="submit">Search</button>
            </form>
        </div>
        <form action="{{ url_for('delete_multiple_passwords') }}" method="post">
            <table>
                <thead>
                    <tr>
                        <th class="checkbox-header"></th> <!-- Checkbox header -->
                        <th>Name</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Actions</th>
                    </tr>
                </thead>
            <tbody>
                {% for id, name, username, password in passwords %}
                <tr>
                    <td class="checkbox-cell"><input type="checkbox" name="selected_passwords" value="{{ id }}"></td>
                    <td>{{ name }}</td>
                    <td>{{ username }}</td>
                    <td>******* <span class="password" style="display:none;">{{ password }}</span></td>
                    <td>
                        <button onclick="copyToClipboard(this)" data-password-id="{{ id }}">Copy to Clipboard</button>
                        <button onclick="location.href='{{ url_for('edit_password', password_id=id) }}'">Edit</button>
                        <button onclick="if(confirm('Are you sure you want to delete this password?')) location.href='{{ url_for('delete_password', password_id=id) }}'">Delete</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
            <!-- Delete Selected Button -->
            <div class="delete-selected">
                <button type="submit" onclick="return confirm('Are you sure you want to delete the selected passwords?');">Delete Selected</button>
            </div>
        </form>
        
        <!-- Add a search form here if needed -->
        
    </div>
    <script src="{{ url_for('static', filename='scripts/clipboard.js') }}"></script>
</body>
</html>
