<!DOCTYPE html>
<html>
<head>
    <title>Jonny's Den - Passwords</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Passwords</h1>
        
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for id, name, username, password in passwords %}
                <tr>
                    <td>{{ name }}</td>
                    <td>{{ username }}</td>
                    <td>******* <span class="password" style="display:none;">{{ password }}</span></td>
                    <td>
                        <button onclick="copyToClipboard(this)" data-password-id="{{ id }}">Copy to Clipboard</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            
        </table>
        
        <!-- Add a search form here if needed -->
        
    </div>
    <script src="{{ url_for('static', filename='scripts/clipboard.js') }}"></script>
</body>
</html>
