<!DOCTYPE html>
<html>
<head>
    <title>Password Manager - Sign Up</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="branding">
            <img src="{{ url_for('static', filename='logo_dark.png') }}" alt="Jonny's Den Logo">
        </div>
        <form action="/signup" method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" minlength="12" required>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div style="color:rgb(180, 11, 11);" class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}
            <button type="submit">Sign Up</button>
        </form>
    </div>
</body>
</html>
