{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>PyLocker: Add a New Password</h1>
    <form action="/add_password" method="post">
        <input type="text" name="name" maxlength="50" placeholder="Name" required>
        <input type="text" name="category" maxlength="50" placeholder="Category" required>
        <input type="text" name="username" maxlength="50" placeholder="Username" required>
        <input type="password" id="password" name="password" maxlength="50" placeholder="Password (enter new or keep existing)" required>
        <label for="passwordLength">Password Length:</label>
        <input type="number" id="passwordLength" name="passwordLength" value="12" min="8" max="70">
        <label for="showPassword">
            <input type="checkbox" id="showPassword"> Show Password
        </label>
        <button id="generatePasswordButton" type="button">Generate Password</button>
        <div class="form-group">
            <label for="notes">Notes:</label>
            <textarea id="notes" name="notes" maxlength="4096" placeholder="Enter any additional information here...">{{ notes if notes else '' }}</textarea>
        </div>
        <button type="submit">Update</button>
    </form>
</div>
<script nonce="{{ nonce }}" src="{{ url_for('static', filename='scripts/passwords.js') }}"></script>
{% endblock %}
