{%extends "base.html" %}
{% block content %}
<div class="container">
    <h1>PyLockr: Change User Password</h1>
    <form action="/change_user_password" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <input type="password" name="current_password" placeholder="Current Password" required>
        <input type="password" name="new_password" minlength="{{ min_password_length }}" placeholder="New Password"
            required>
        <input type="password" name="confirm_new_password" minlength="{{ min_password_length }}"
            pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*#?&\-]).{{ '{' }}{{ min_password_length }},}"
            title="Must contain at least one uppercase letter, one lowercase letter, one number, one special character, and be at least {{ min_password_length }} characters long"
            placeholder="Confirm Password" required>
        <button type="submit">Change Password</button>
    </form>
</div>
{% endblock %}