<!DOCTYPE html>
<html>
<head>
    <title>Jonny's Den - Add Password</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
    {% include 'header.html' %}
    <div class="container">
        <h1>Change User Password</h1>
        <form action="/change_user_password" method="post">
            <input type="password" name="current_password" placeholder="Current Password" required>
            <input type="password" name="new_password" minlength="12" placeholder="New Password" required>
            <input type="password" name="confirm_new_password" minlength="12" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!#%*?&\-]).{12,}" title="Must contain at least one uppercase letter, one lowercase letter, one number, one special character, and be at least 12 characters long" placeholder="Confirm Password" required>
            <button type="submit">Change Password</button>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div style="color:rgb(180, 11, 11);" class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </form>
    </div>   
</body>
</html>
