<!DOCTYPE html>
<html>
<head>
    <title>Jonny's Den - Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
    {% include 'header.html' %}
    <div class="container">
        <!-- Display Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <h1>Welcome to Jonny's Den Dashboard</h1>
            <a style="color:rgb(255, 253, 127);" href="{{ url_for('main.backup') }}">Download Database Backup</a>
            {% if reminder_needed %}
            <p style="color: red;">It has been over a month since your last backup. Please consider backing up your database.</p>
              {% endif %}
            <p style="color:aquamarine;">Last Backup: {{ last_backup if last_backup else 'Never' }}</p>
          <br><br>
        <div style="text-align: center;" class="actions">
            <!-- Link to Add Password Page -->
            <a href="{{ url_for('main.add_password') }}"><button>Add Password</button></a>
            <!-- Link to Retrieve Passwords -->
            <a href="{{ url_for('main.retrieve_passwords') }}"><button>Retrieve Passwords</button></a>
            <!-- Link to Retrieve Passwords -->
            <a href="{{ url_for('auth.change_user_password') }}"><button>Change User Password</button></a>
          <br><br>
            <form action="{{ url_for('main.upload_csv') }}" method="POST" enctype="multipart/form-data">
                <label for="csvFile" class="custom-file-upload">Upload CSV file into Database</label>
                <input type="file" id="csvFile" name="csvFile" accept=".csv" style="display: none;" >
                <button type="submit">Upload</button>
            </form>
        </div>
    </div>
</body>
</html>
