{%extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="center-text">PyLockr: Dashboard</h1>
    <br><br>
    <div class="actions center-text">
        <a href="{{ url_for('main.add_password') }}" class="button-link">Add Password</a>
        <a href="{{ url_for('main.retrieve_passwords') }}" class="button-link">Retrieve Passwords</a>
        <a href="{{ url_for('auth.change_user_password') }}" class="button-link">Change User Password</a>
        <br><br>
        <form class="backup-form" id="backupForm" method="POST" action="/backup">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            <input type="hidden" name="ivPass" value="">
            <input type="hidden" name="b64Pass" value="">
            <label for="backupPassword">Backup to 7zip. Enter Password:</label>
            <input autocomplete="new-password" type="password" id="backupPassword" name="backupPassword" required>
            <button type="submit">Create Backup</button>
        </form>
        {% if reminder_needed %}
        <p class="alert-error">It has been over a month since your last backup. Please consider backing up your
            database.
        </p>
        {% endif %}
        <p class="alert-ok">Last Backup: {{ last_backup if last_backup else 'Never' }}</p>
        <br><br>
        <form class="csv-form" id="csvForm" action="{{ url_for('main.upload_csv') }}" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            <input type="hidden" name="ivFileB64" value="">
            <input type="hidden" name="encFileB64" value="">
            <label for="csvFile" class="custom-file-upload">Select CSV file & Upload into Database</label>
            <input type="file" id="csvFile" name="csvFile" accept=".csv" class="csv-file">
            <button type="submit">Upload</button>
        </form>
    </div>
</div>
<script nonce="{{ nonce }}" type="module" src="{{ url_for('static', filename='scripts/backups.js') }}"></script>
{%endblock %}
