<!DOCTYPE html>
<html>
<head>
    <title>PyLockr - Edit Password</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    {% include 'header.html' %}
    <div class="container">
        <h1>PyLockr: Edit Password</h1>
        <form action="" method="post"> <!-- The action is empty because the form submits to the same URL -->
            <input type="text" name="name" maxlength="50" placeholder="Name" value="{{ name }}" required>
            <input type="text" name="category" maxlength="50" placeholder="Category" value="{{ category }}" required>
            <input type="text" name="username" maxlength="50" placeholder="Username" value="{{ username }}" required>
            <input type="password" id="password" name="password" placeholder="Password (enter new or keep existing)" value="{{ password }}" required>
            <label for="passwordLength">Password Length:</label>
            <input type="number" id="passwordLength" name="passwordLength" value="12" min="8" max="70">
            <label for="showPassword">
                <input type="checkbox" id="showPassword"> Show Password
            </label>
            <button id="generatePasswordButton">Generate Password</button>
            <div class="form-group">
                <label for="notes">Notes:</label>
                <textarea id="notes" name="notes" placeholder="Enter any additional information here...">{{ notes if notes else '' }}</textarea>
            </div>
            <button type="submit">Update</button>
        </form>
    </div>
    <script nonce="{{ nonce }}" src="{{ url_for('static', filename='scripts/passwords.js') }}"></script>
</body>
</html>
