<!DOCTYPE html>
<html>
<head>
    <title>Jonny's Den - Edit Password</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
    {% include 'header.html' %}
    <div class="container">
        <h1>Edit Password</h1>
        <form action="" method="post"> <!-- The action is empty because the form submits to the same URL -->
            <input type="text" name="name" placeholder="Name" value="{{ name }}" required>
            <input type="text" name="username" placeholder="Username" value="{{ username }}" required>
            <input type="password" id="password" name="password" placeholder="Password (enter new or keep existing)" value="{{ password }}" required>
            <label for="passwordLength">Password Length:</label>
            <input type="number" id="passwordLength" name="passwordLength" value="12" min="8" max="20">
            <label for="showPassword">
                <input type="checkbox" id="showPassword" onchange="togglePasswordVisibility()"> Show Password
            </label>
            <button type="button" onclick="generateAndFillPassword()">Generate Password</button>
            <div class="form-group">
                <label for="notes">Notes:</label>
                <textarea id="notes" name="notes" placeholder="Enter any additional information here...">{{ notes if notes else '' }}</textarea>
            </div>
            <button type="submit">Update</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='scripts/passwords.js') }}"></script>       
</body>
</html>
