{% extends "base.html" %}
{% block head_extra %}
<link href="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-2.3.4/fh-4.0.4/r-3.0.7/sc-2.4.3/datatables.min.css"
    rel="stylesheet" integrity="sha384-YauKBmMKbpLi2u0i5PA+KNkpgTNEBnh5sqIMI5+afLSOpRKS7v4ba1pENDQAHW1y"
    crossorigin="anonymous">
<meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}
{% block content %}
<div id="vaultData" data-vault="{{ passwords }}" class="hidden"></div>
<div class="container-table">
    <h1>PyLockr: Passwords</h1>
    <div class="actions-new">
    <!-- Wrapper for left-aligned buttons -->
    <div class="left-buttons">
        <a href="{{ url_for('main.add_password') }}" class="button-link button-spacing">Add New Password</a>
        <a href="{{ url_for('main.dashboard') }}" class="button-link">Dashboard</a>
    </div>
    
    <!-- Right-aligned buttons -->
    <div class="right-buttons">
        <button id="selectAllBtn">Select All</button>
        <button id="deselectAllBtn">Deselect All</button>
    </div>
    </div>
    <form action="{{ url_for('main.delete_multiple_passwords') }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <table id="myTable" class="display table-dark">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Category</th>
                    <th>Actions</th>
                    <th class="checkbox-header"></th>
                </tr>
            </thead>
            <tbody>
                <!-- JavaScript will dynamically insert rows here -->
            </tbody>
        </table>
        <div id="toast" class="toast">Password copied to clipboard!</div>
        <div class="delete-selected">
            <button type="submit" class="delete-confirm-btn">Delete</button>
        </div>
    </form>
</div>
<script nonce="{{ nonce }}"
    src="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-2.3.4/fh-4.0.4/r-3.0.7/sc-2.4.3/datatables.min.js"
    integrity="sha384-g1YXqGmn53csDwLBAcMSxllp2iUZXEyQk4p4OO80SXnKPDLXWcU+bOUns/tweuSP"
    crossorigin="anonymous">
</script>
<script nonce="{{ nonce }}" type="module" src="{{ url_for('static', filename='scripts/clipboard.js') }}"></script>

{% endblock %}
